:root{
  --branco-principal:#FFFFFF;
  --cinza-secundaria:#F9F9F9;
  --botão-azul:#167BF7;
  --cor-de-fundo:#000000;
  --fonte-principal:'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family:var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
*{margin: 0;
  padding: 0%;
}
.principal{
  background-image: url("./img/curso_ingles1-removebg-preview\ \(6\)\ 1.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 80% 0;
  text-align: center;

  
 
}
.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container--titulo{
  font-size: 28px;
  font-weight: 700;
}
.container--botao{
background-color: var(--botão-azul);
padding: 1em;
border-radius: 5px;
color: var(--branco-principal);
display: block;
text-decoration: none;
margin-bottom: 1em;
}
.container--botao_secundario{
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}
.container--aviso{
color: var(--cinza-secundaria);
font-size: 12px;

}
.secundario{
align-items: center;
margin: 0 10em;
}


.descricao--titulo{
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0. 1em;

}

.descricao--texto{
  color: var(--cinza-secundaria);
}

.container--descricao{
  padding: 1em;
}

.secundario--imagem{
  width: 80%;
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}

.rodape--lista{
display: flex;
justify-content: center;
list-style-type: none;
margin-top: 1em;
}

.lista--link a{
text-decoration: none;
color: var(--branco-principal);
font-size: 14px;
margin-left: 1em;
}